body{
    font-family: 'Open Sans', sans-serif;
}

.preloader::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #000;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

.preloader::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #ccc;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

/** End Preloder **/

/** Custom Cursor **/
aside.active nav ul #cursor{
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: 0.1s;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;
}

/** Custom Button **/
.mego-outline-btn{
    position: relative;
    padding: 11px 15px;
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
}

.mego-outline-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 145%;
    height: 100%;
    background-color: #000;
    clip-path: circle(7% at 0% 50%);
    transition: all 0.3s ease;
    z-index: -1;
}

.mego-outline-btn:hover{
    color: #FFF;
}

.mego-outline-btn:hover::before{
    clip-path: circle(100% at 0 50%);
}


/** Start Sidebar **/
.menu-toggle{
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #000;
    position: fixed;
    top: 18px;
    right: 18px;
    z-index: 99;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition: all 1s ease;
}

.menu-toggle span{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #FFF;
    transition: all 0.3s ease;
}

.menu-toggle.active {
    background-color: #FFF;
}

.menu-toggle.active span{
    background-color: #000;
}

.menu-toggle.active span:first-child{
    top: 7px;
    transform: rotate(45deg);
}

.menu-toggle.active span:nth-child(2){
    left: 50px;
}

.menu-toggle.active span:last-child{
    top: -6px;
    transform: rotate(-45deg);
}

aside{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color:#000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
    transition: all 0.5s ease-in-out;
    clip-path: circle(100px at 110% 0%);
}

aside.active{
    clip-path: circle(3000px at 100% 0%);
}

aside nav ul{
    padding: 0;
    margin: 0;
}

aside nav ul li{
    list-style: none;
    margin-bottom: 2em;
}

aside.active nav ul li:hover ~ #cursor{
    transform: scale(2);
}

aside nav ul li a{
    position: relative;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 48px;
}

aside nav ul li a:hover{
    text-decoration: none;
    color: #FFF;
}

/** End Sidebar **/


/** Start Main Page **/
.home{
    height: 100vh;
}

.main-image-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 600px;
    clip-path: circle(90% at 0 50%);
}

.home-details{
    position: relative;
}

.home-details > div{
    max-width: 670px;
    margin: 0 auto 0 60px;
}

.home-details h2{
    font-size: 43px;
    line-height: 45px;
    font-weight: 700;
    margin: 5px 0 10px;
}

.home-details .info-paragraph{
    margin: 10px 0 23px;
    text-align: left;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}







